@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@theme {
  --color-market-primary: #C2410C;
  --color-market-secondary: #D4A373;
  --color-market-tertiary: #365314;
  --color-market-background: #FFFBF5;
  --color-market-surface: #FFFFFF;
  --color-market-success: #22C55E;
  --color-market-warning: #F59E0B;
  --color-market-error: #DC2626;
  --color-market-info: #3B82F6;

  --font-headline: "Lora", serif;
  --font-body: "Open Sans", sans-serif;
  --font-mono: "Source Code Pro", monospace;
}